
<div class="container">
<ul class="list-group">
<% @posts.each do |p| %>

  
    <li class="list-group-item" > <%= p.title %>
    <li class="list-group-item" > <%= p.content %>
    <li class="list-group-item" > <%= image_tag(p.image, :size => "80x80", :alt => "Picture") %>

</li>
<div class="container">
<%=likes(p.id)%>
<%= link_to "Likes",like_posts_path(id: p.id),method: :post %>
<%=comment(p.id)%>
<%= link_to "comments" ,post_path(id: p.id),method: :get %>


    
    
</div>
<%end%>  
</ul>
</div>
<br>


      


